.redtext{
    color:red;
}
.bluetext{
    color:blue;
}
.yellowtext{
    color: yellow;
}
.orangetext{
    color: orange;
}
.purpletext{
    color: purple;
}
.cyantext{
    color: cyan;
}
.greytext{
    color: grey;
}
.turquoisetext{
    color: turquoise;
}
.blacktext{
    color: black;
}
.darkgreytext{
    color: darkgrey;
}
