{% extends 'index.html' %}


{% block appbody%}
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h4 class="text-center blacktext">
                Bu site insanları sosyalleştirmek, birbirleriyle kolayca iletişime geçmeleri amacıyla açılmıştır.
            </h4>
            <br>
            <hr>
            <h4 class="text-left redtext">
                İletişim:
            </h4>
            <h3 class="text-left darkgreytext">
                atuCE@gmail.com <br>(444) 19 07
            </h3>
        </div>
    </div>
</div>
{% endblock %}