{% extends 'index.html' %}


{% block appbody%}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center purpletext">Hoşgeldiniz!</h2>
            <h4 class="blacktext text-center">
                Sitemizde metin paylaşabilir, kullanıcılar ile özel olarak mesajlaşabilirsiniz.
            </h4>
            <br>
            <hr>
            <h4 class="text-left darkgrey">
                Sitemize girebilmek için lütfen <a href="/login">Giriş yapınız</a>. Eğer üye değilseniz üye olmanız
                gerekmektedir. <br>
                Ancak şimdilik üye olma işlemleri admin tarafından yapılmaktadır. <br><br>Eğer üye olmak istiyorsanız
                lütfen<a href="/about">About Us</a>
                kısmından bizim ile iletişime geçiniz.
            </h4>
            <br>
            <span class="greytext text-left">
                Sitemizde herhangi bir sorun ile karşılaşırsanız<br>
                lütfen <a href="/about">About Us</a> bölümünden bizim ile iletişime geçiniz.
            </span>

        </div>
    </div>
</div>
{% endblock %}