{% for user in users %}
<div class="list-group-item d-flex justify-content-between">
    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#userModal{{user.id}}">
        {{user.username}}
    </button>
    <!-- Modal -->
    <div class="modal fade" id="userModal{{user.id}}" tabindex="-1" role="dialog"
        aria-labelledby="userModal{{user.id}}Label" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <form method="post">
                {% csrf_token %}
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userModal{{user.id}}Label">Mesaj yaz</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-3">
                            <ul class="list-group">
                                <li class="list-group-item active">Gelen mesajları</li>
                                <!-- teslim alınan mesajlar -->
                                {% for message in user.receiver_messages.all %}
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <div>
                                            <b>from</b>
                                            <span class="text-muted"> {{message.sender}}</span>
                                        </div>
                                        <div>
                                            <b>to</b>
                                            <span> {{message.receiver}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <b>content: </b>
                                        <small>{{message.body}}</small>
                                    </div>
                                </li>
                                {% endfor%}
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item active">Gönderilen mesajları</li>
                                <!-- teslim edilen mesajlar -->
                                {% for message in user.sender_messages.all %}
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <div>
                                            <b>from</b>
                                            <span class="text-muted"> {{message.sender}}</span>
                                        </div>
                                        <div>
                                            <b>to</b>
                                            <span> {{message.receiver}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <b>content: </b>
                                        <small>{{message.body}}</small>
                                    </div>
                                </li>
                                {% endfor%}
                            </ul>
                        </div>
                        <input type="hidden" name="targetuser" value="{{user.id}}" />
                        <label for="idMyMessage">
                            <h3>
                                Mesajınızı yazınız
                            </h3>
                            <textarea class="form-control" name="mymessage" id="idMyMessage" cols="60"
                                rows="10"></textarea>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Gönder</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}