{% extends 'index.html' %}

{% block appbody%}
<table class="table" align="center" border="0" width=90%>
    <tr>
        <th width=60%>
        </th>
        <th width=20%>
            <h3 class="text-center purpletext">Paylaştığın yazılar</h3>
        </th>
    </tr>
    <tr>
        <td width=60%>
            <h5 class="blacktext text-center">
                Lütfen önemli gördüğünüz bilgileri bizim ile paylaşın. <br>
                 Diğer kullanıcıların paylaştığı yazıları <a href="/home/">Anasayfa</a>'da görebilirsiniz.
            </h5>
        </td>
        <td rowspan="2" width=30%>
            <div class="list-group">
                {% for post in posts %}
                <a href="/profile/{{post.id}}">
                    <div class="list-group-item d-flex justify-content-between">
                        <span>
                            {{post.title}}
                        </span>
                </a>
                <small>Yazar: {{post.author}}</small>
            </div>
            {% endfor%}
            </div>
        </td>
    </tr>
    <tr>
        <td width=60%>
            <form method="POST" action="" class="form-group">
                {% csrf_token %}
                <input class="form-control my-2" type="text" name="baslik" id="" placeholder="Konu başlığı giriniz" />
                <textarea class="form-control" name="icerik" id="" cols="40" rows="5"></textarea>
                <button class="btn btn-lg btn-block btn-outline-danger my-3" type="submit">Yayınla</button>
            </form>
        </td>
    </tr>
</table>
{% endblock %}