{% extends 'index.html' %}


{% block appbody%}
<table align="center" width=50% border="0">
    <form class="form-signin" method="POST" action="/login/">
        {% csrf_token %}
        <tr>
            <th>
                <h4 class="redtext text-center">Please sign in</h4>
            </th>
        </tr>
        <tr>
            <td>
                <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required
                    autofocus>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                    required>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-lg btn-outline-danger btn-block" type="submit">Sign in</button>
            </td>
        </tr>
    </form>
</table>
{% endblock %}